.readymade-classification-interface
  display: flex

  .readymade-subject-viewer-container
    flex: 6
    position: relative

  .readymade-decision-tree-container
    flex: 1
    position: relative

  .readymade-summary-container
    flex: 1

#_DECISION_TREE_META_BUTTON
  @extends #_RESET_BUTTON
  background: rgba(MEDIUM_GRAY, 0.5)
  border: 1px solid
  border-radius: 3px
  display: block
  font-size: 12px
  font-weight: bold
  letter-spacing: 1px
  line-height: 1
  margin: 2em auto
  padding: 0.5em 0
  position: relative
  text-align: center
  text-transform: uppercase
  width: 7em
