.readymade-classification-interface
  display: table
  table-layout: fixed
  width: 100%

  .readymade-subject-viewer-container
    background: rgba(MEDIUM_GRAY, 0.67)
    border-radius: 5px
    box-shadow: 0 1px 5px -3px black inset
    display: table-cell
    overflow: hidden
    padding: 1em
    text-align: center
    vertical-align: middle
    width: 75%

  .readymade-decision-tree-container
    display: table-cell
    vertical-align: middle
    width: 25%
