.readymade-site-header
  padding: 20px 5vw 0

  .readymade-creator
    display: inline-block
    line-height: 1

    a
      color: inherit
      text-decoration: none

  .readymade-project-producer
    border-bottom: 1px solid
    font-size: 12px
    font-weight: bold
    letter-spacing: 2px
    margin-left: -1em
    padding-bottom: 1px
    text-transform: uppercase
    transition: font-size 0.5s

    [data-location-hash="#/"] &
      font-size: 24px

  .readymade-project-title
    font-size: 36px
    font-weight: 100
    letter-spacing: 2px
    text-transform: uppercase
    transition: font-size 0.5s

    [data-location-hash="#/"] &
      font-size: 64px

  .readymade-site-links
    display: inline-block
    line-height: 1
    margin-left: 1em

  .readymade-site-link
    border-radius: 3px
    color: inherit
    font-size: 12px
    font-weight: bold
    letter-spacing: 2px
    margin-bottom: -0.5em
    padding: 0.5em 1em
    text-decoration: none
    text-transform: uppercase

    &:hover
      background: rgba(black, 0.25)

    &.active
      background: rgba(black, 0.5)
