.readymade-home-page
  text-shadow:
    0 1px 3px black,
    0 1px 5px black

  .readymade-project-summary
    font-size: 36px
    font-weight: 100

  .readymade-footer
    margin-top: 1em
    text-align: center

  .readymade-call-to-action
    background: rgba(white, 0.9)
    border-radius: 0.25em
    box-shadow: 0 5px 5px -5px
    color: black
    display: inline-block
    font-size: 24px
    font-weight: bold
    line-height: 1
    padding: 0.5em 1.5em
    text-decoration: none
    text-shadow: none

    &:hover
      background: white
