[data-location-hash="#/"]:not(.isMobileSafari)
  #main-container
    min-height: 90vh

  #main-content
    justify-content: flex-end

.readymade-home-page
  .readymade-project-summary
    font-size: 36px
    font-weight: 100

  .readymade-footer
    margin-top: 1em
    text-align: center

  .readymade-call-to-action
    background: rgba(white, 0.9)
    border-radius: 0.25em
    box-shadow: 0 5px 5px -5px
    color: black
    display: inline-block
    font-size: 24px
    font-weight: bold
    line-height: 1
    margin: 0 5px
    padding: 0.5em 1.5em
    text-decoration: none
    text-shadow: none

    &:hover
      background: white

.zooniverse-footer
  background: rgba(black, 0.5)
  border-radius: 5px
  margin-top: 2em
  padding: 2em 1em
