html
  background: MEDIUM_GRAY
  color: white
  font: 14px/1.5 "Helvetica Neue", Arial, sans-serif

body
  margin: 0

a
  color: lime

#readymade-site-background
  background-position: 50% 33%
  background-size: cover
  bottom: 0
  left: 0
  opacity: 0.33
  position: fixed
  right: 0
  top: 0
  transition: opacity 0.5s
  z-index: -1

  [data-location-hash="#/"] &
    opacity: 1

#readymade-site-background-effect
  background: radial-gradient(rgba(MEDIUM_GRAY, 0), black), url("./black-pixel-screen.png")
  bottom: 0
  left: 0
  opacity: 0
  position: absolute
  right: 0
  top: 0
  transition: opacity 1s

  [data-location-hash="#/"] &
    opacity: 1

.readymade-main-stack
  margin: 20px auto
  transition: margin-top 0.5s
  width: 80vw

  [data-location-hash="#/"] &
    margin-top: 45vh
