@require "../../../node_modules/zooniverse/css/top-bar.css"
@require "../../../node_modules/zooniverse/css/dialog.css"

@require "./common"
@require "./layout"
@require "./header"
@require "./home-page"
@require "./classify-page"
@require "./subject-viewer"
@require "./decision-tree"
@require "./choice"
@require "./team-page"
