.zooniverse-profile
  & > nav button
    @extends #_RESET_BUTTON
    background: transparent
    border: none
    color: inherit
    font-size: 12px
    font-weight: bold
    letter-spacing: 2px
    padding: 0.25em 2em
    text-transform: uppercase

    &.active
      background: rgba(black, 0.5)
      box-shadow: none
      text-shadow: none
