.readymade-subject-viewer
  .marking-surface
    display: block
    margin: 0 auto

  .marking-surface-svg
    color: lime
    display: inline-block
    max-height: 100%
    max-width: 100%

  .readymade-frame-controls
    line-height: 1

  .readymade-frame-play-controls
    display: inline-block
    margin-right: 10px

    button
      @extends #_RESET_BUTTON
      width: 1.5em
      height: 1.5em

      &:disabled
        display: none

  .readymade-frame-toggles-list
    display: inline-block

    button
      @extends #_RESET_BUTTON
      background: rgba(black, 0.5)
      border-radius: 50%
      color: transparent
      height: 1em
      width: 1em
      overflow: hidden
      position: relative

      &[data-selected]:before
        SPACE = 4px
        background: white
        border-radius: 50%
        bottom: SPACE
        content: ""
        left: SPACE
        position: absolute
        right: SPACE
        top: SPACE
