.readymade-team-page
  .readymade-team-group-title
    border-bottom: 1px solid
    font-size: 24px
    font-weight: lighter
    margin-bottom: 0.5em

  .readymade-team-group
    clearfix()
    margin-bottom: 2em

  .readymade-team-member
    is-a-column(3)

  .readymade-team-member-photo
    display: block
    margin: 0 auto

  .readymade-team-member-title
    font-size: 12px
    letter-spacing: 1px
    text-transform: uppercase

    a
      text-decoration: none
      color: inherit
      opacity: 0.75

      &:hover
        opacity: 1

  .readymade-team-member-description
    font-size: 12px
